<form action="<%= new_link ? links_url : link_url(link) %>" method="post" accept-charset="utf-8">
  <%= form_auth_html %>
  <%= update_method_html unless new_link %>
  
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td><label for="title">Title</label></td>
      <td><input type="text" name="link[title]" value="<%= link.title %>" id="title"></td>
    </tr>
    <tr>
      <td><label for="url">URL</label></td>
      <td><input type="text" name="link[url]" value="<%= link.url %>" id="url"></td>
    </tr>
  </table>

  <p><input type="submit" value="<%= new_link ? "Create New Link" : "Update Link" %>"></p>
</form>